* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#storage-controls {
    margin-top: 20px;
}

button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: rgb(16, 16, 16);
    color: white;
    border-radius: 8px;
    border: 0;
}

button:active {
    transform: scale(0.95);
}

button:enabled {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

button.confirm {
    background-color: green;
    color: white;
    border: 0;
}

button.delete {
    background-color: red;
    color: white;
    border: 0;
}

form div {
    margin: 1rem 0;
}


#expensesList {
    margin: 1rem 0;
    width: fit-content;
}



#expensesList > li {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}