* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#storage-controls {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 1rem;

}

button:enabled {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

button.confirm {
    background-color: green;
    color: white;
    border: 0;
}

button.delete {
    background-color: red;
    color: white;
    border: 0;
}

form div {
    margin: 1rem 0;
}

#expensesList > li {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 1rem;
}